<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration status="warn" xmlns:log4j="http://jakarta.apache.org/log4j/"
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                     xsi:schemaLocation="http://jakarta.apache.org/log4j/ ">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/test-log4j.log</file>
        <encoder>
            <pattern>%date - [%level] - from %logger in %thread %n%message%n%xException%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %X{akkaTimestamp} [%X{sourceThread}] -->
            <pattern>
                T:%.-1level %d{mm:ss.SSS} %F:%L - %message%n%rEx
            </pattern>

        </encoder>
    </appender>

    <logger name="com.odenzo.ripple.signing.reference.Definitions$" level="WARN" />
    <logger name="odenzo" level="TRACE"/>
    <logger name="com.odenzo.ripple.core.com.odenzo.ripple.testkit.coms.OneOffWebSocket" level="INFO"/>
    <logger name="application" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>


    <logger name="org.apache.http" level="DEBUG"/>


    <logger name="com.gargoylesoftware" level="DEBUG"/>
</log4j:configuration>
